<section class="content">
  <h1>Welcome to ChimpChamp!</h1>
</section>



<a href=<%=user_omniauth_authorize_path(:mailchimp)%> >
  <img src="/assets/chimpchamp-login-initial.png"
       onmouseover="this.src='/assets/chimpchamp-login-over.png';"
       onmouseout="this.src='/assets/chimpchamp-login-initial.png';"
       alt = "Login with MailChimp"/>
  Login with MailChimp
</a>


<p>
  If you have a MailChimp account, you can use it to login here. If not,
</p>

<%=link_to "get one first.", "http://chimpchamp.com/mc"  %>
