<% if (@days <  8 ) %>
      This email is to notify you that you have gone over your Free AbleForm account limit. Please log in and <a href="http://app.ableform.com/plans">upgrade your plan </a>to avoid interruptions to your form submissions.
<% elsif (@days <  14 ) %>
      This email is to notify you that your AbleForm account has been over the limit for over 7 days and will be suspended if you don't take immediate action. Please log in and <a href="http://app.ableform.com/plans">upgrade your plan </a> to avoid interruptions to your form submissions.
<% else %>
     Your account has been over the limit for over 2 weeks and has been suspended. Please log in and <a href="http://app.ableform.com/plans">upgrade your plan</a> to avoid interruptions to reactivate your form submissions.
<% end %>